{% extends 'base/base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	
	<div class="row">
		<div class="col m8 offset-m2">
			<div class="input-field">
				<label>Nombre</label>
				<input class="validate" type="text" name="first_name">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m8 offset-m2">
			<div class="input-field">
				<label >Apellidos</label>
				<input class="validate" type="text" name="last_name">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m8 offset-m2">
			<div class="input-field">
				<label >Nombre de usuario</label>
				<input class="validate" type="text" name="username">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m8 offset-m2">
			<div class="input-field">
				<input id="email" class="validate" type="email" name="email">
                <label for="email">Correo</label>

            </div>
		</div>
	</div>
	<div class="row">
		<div class="col m8 offset-m2">
			<div class="input-field">
				<label >Contraseña</label>
				<input class="validate" type="password" name="password1">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m8 offset-m2">
			<div class="input-field">
				<label >Confirmar contraseña</label>
				<input class="form-control" type="password" name="password2">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col m8 offset-m2">
			<div class="input-field">
				<button class="btn blue-grey "type="submit">Guardar</button>
			</div>
		</div>
	</div>
	
</form>
{% endblock %}